// Fonts
$font-main: "Outfit", sans-serif;
$font-text: "Montserrat", sans-serif;

// Font weights
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;

// Font sizes
$fs-h1: clamp(48px, 5vw, 70px);
$fs-h2: clamp(32px, 5vw, 48px);
$fs-h3: clamp(22px, 2vw, 30px);
$fs-big:24px;
$fs-middle:20px;
$fs-body:18px;
$fs-small:16px;

// Line heights
$lh-tight: 1.1;
$lh-normal: 1.4;
$lh-loose: 1.6;

// Letter spacing
$ls-tight: -0.02em;
$ls-normal: 0;
$ls-wide: 0.5px;

// Colors

       
 $color-bg:  linear-gradient(261.69deg, #1a0033, 12.12%,#0f001f 86.72%);
 $color-bg-light: linear-gradient(261.69deg, #220044 12.12%, #15002a 86.72%);
$color-btn:  linear-gradient(90deg, 
        #00CED1 0%,  
        #20B2AA 50%,   
        #FF69B4 100%   
    );
$color-text: #A3A3A3;
$color-white: #FFFFFF;
$color-footer:#515151;
$color-dark: #210A01;
$color-untertitle:#cbbfdc;
$color-icon:#00CED1;

$section-gap-sm: 80px;   // редко, для плотных секций
$section-gap-md: 120px;  // ОСНОВНОЕ расстояние
$section-gap-lg: 160px;  // hero / финальные блоки
