@import '../styles/variables';
.acc{
  &__group{
      display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline:clamp(5rem,10vh,6.25rem);
  }
    &__auto{
        align-items: center;
        display:flex;
        flex-direction: column;
        max-width: 21.875rem;
    }
    &__text{
        display: flex;
        flex-direction: column;
        color: $color-white;
       
    }
    &__title{
        color: $color-white;
    
    }
    &__input{
      color:rgba($color-white, 0.8);
         display: block;
  background: inherit;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  opacity: 0.8;
  padding-block: 1.25rem;
  min-width:25rem;
  transition: 0.3s;
  box-sizing: border-box;
  padding-block: 0.75em 1em;
  appearance: none;
  -webkit-appearance: none;
  &:focus{
  outline: none;
  border-bottom: 1px solid rgba(255,255,255,0.9);
  opacity: 1;
  transition: $color-icon .25s ease;
        }
    }
    &__btn{
        display:grid;
        align-items: center;
    }
    &-btn{
         margin:1.25rem;
        background: $color-btn;
        font-size: $fs-middle;
        border-radius:1.25rem;
        padding:0.313rem;
        color: $color-white;
    }

}
.back{
    display: flex;
    justify-content: center;
    padding-block: clamp(0.938rem,4vw,1.875rem);
    &__btn{
        font-size: $fs-middle;
        color: $color-white;
        border-radius:1.875rem;
        border: none;
        background: $color-btn;
        padding:0.625rem;
    }
}
.promo{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__untertitle{
        color:$color-white;
        text-align: end;
    }
    &__title{
        color:$color-white;
        text-align: end;
    }
    &__img{
        max-height:15.625rem;
        opacity: 0.7;
    }
}
.history{
    display: grid;
     &__input{
    margin-top:1.375rem;
  margin-right:0.938rem;
  appearance: none;   
  width:1.125rem;
  height:1.125rem;
  border: 2px solid $color-icon;  
  border-radius: 4px;      
  background: transparent;
  cursor: pointer;
  position: relative;
   &::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: $color-icon;  
    opacity: 0;
    border-radius: 2px;
    transition: 0.2s ease;
  }

  &:checked::after {
    opacity: 1;
  }
}
&__label{
    color:$color-white;
    padding-top:1.063rem;
    font-size: $fs-middle;
}
&__subscribe{
    display: flex;
    align-items: center;
}
&__title{
    color:$color-white;
    font-size: $fs-middle;
    text-align: center;
}
&__text{
    background: $color-bg-light;
    border-radius:1.875rem;
    padding-block:1.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    &-title{
        color:$color-white;
        text-align:center;
    }
    &-untertitle{
        color:$color-white;
    }
}
}
.adress{
    display: flex;
    flex-direction: column;
    justify-content: end;
    justify-self: center;
    &__text{
        display: flex;
        flex-direction: column;
        color:$color-white;
    }
    &__input{
         display: block;
  background: inherit;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  opacity: 0.8;
  padding-block:1.25rem;
  min-width:25rem;
  transition: 0.3s;
  box-sizing: border-box;
  padding-block: 0.75em 1em;
  appearance: none;
  -webkit-appearance: none;
  color:$color-white;
  &:focus{
  outline: none;
  border-bottom: 1px solid rgba(255,255,255,0.9);
  opacity: 1;
  transition: $color-icon .25s ease;
    }
}
&__btn{
background: $color-btn;
   border-radius:1.875rem;
      color:$color-white;
      font-size: $fs-middle;
}
    &__title{
        color:$color-white;
        
    }
}
.payment {
  &__input{
  color:$color-white;
  background: inherit;
  }
  &-methods {
    display: flex;
    flex-direction: column;
    justify-self: center;
 
  }
  &__btn{
    border-radius:1.875rem;
    color:$color-white;
    background: $color-btn;
    font-size: $fs-middle;
    padding-inline:0.625rem;
    margin:0.313rem;
  }
  &__title{
    color:$color-white;
    padding-bottom:0.938rem;
  }
&-btn{
  display: flex;
  align-items: center;
  margin:0.625rem;
}
  }
.info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: clamp(15rem,16vw,18.75rem);
}
@media (max-width: 768px) {
    .acc{
   padding-right: 10px;
}
  .acc__group{
    grid-template-columns: 1fr;
    padding-inline:clamp(2rem,10vh,3.125rem);
  }
  .info{
    grid-template-columns: 1fr;
    padding-top: clamp(5rem,16vw,8.75rem);
    justify-content: center;
    justify-items: center;
  }
  .acc__auto{
    padding: 10px;
    max-width: 100%;
  }
  .acc__input{
    min-width: 100%;
  }

}
@media (max-width: 480px) {
  .acc__group{
    padding-inline:clamp(1rem,10vh,2.125rem);
  }
}