@import '../styles/variables';
.auth{
  display:grid;
  place-items:center;
  z-index:1000;
  position: fixed;
  inset:0;
  &__window{
   display: flex; 
   flex-direction: column;
   position:relative;
   background:$color-bg-light;
   color:$color-white;
   z-index: 1;
   padding:clamp(0.938rem,4vw,1.875rem);
   max-height: 45vh;
   height: 45vh;
   border-radius:30px;
   margin:0 auto;
    box-shadow: 0 8px 24px rgba(0,0,0,.3);
    max-width: 500px; 
    width: 100%;
  }
  &__overlay{
    position:absolute;
    inset:0;
    z-index: 0;
    background: rgba(0,0,0,.6);
    backdrop-filter: blur(2px);
  }
    &__wrapper{
    position:relative;
  }
  &__close{
   display: grid;
   position:absolute;
   justify-self:end;
   margin-bottom: 25px;
  border:none;
  top:-15px;
  right:-50px;
  background:transparent;
  cursor:pointer;
  padding: 0.5rem;
  color:$color-icon;
  }
  &__icon{
  width:25px;
  height:25px;
  fill:currentColor;
}
&__title{
    font-size:30px;
    text-align: center;
}
&__description{
    font-size: $fs-middle;
    text-align: start;
    padding-inline: 20px;
}
&__input{
    background: $color-bg;
    font-size: $fs-big;
    padding: 10px;
    border-radius: 10px;
    color:$color-white;
    
}
&__tel{
    display: grid;
    justify-self:start;
    padding: 15px;
}
&__btn{
    &-group{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    margin: 20px;
    background: $color-btn;
    border-radius: 30px;
    font-size: $fs-middle;
    color: $color-white;
    padding-inline: 20px;
    padding-block: 10px;
    min-width: 300px;

}
&__text{
opacity: 0.7;
}
&__link{
    color:$color-white;
}
&__form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}
&__code{
   background: $color-bg;
    font-size: $fs-big;
    border-radius: 10px;
    color:$color-white;
    max-width: 60px;
    min-height: 60px;
    text-align: center;

}
}
.auth__btn:disabled {
  opacity: 0.4;
  pointer-events: none;
}