@import '../styles/variables';
//корзина 
.cart__modal{
    inset: 0 0 0 auto;
    height: 100vh;
    width: 500px;
  z-index:1000;
  font-size: $fs-body;
  position: fixed;
  right: 0;
  top:0;
  transform: translateX(100%);
  transition: transform .4s ease;
   &-sad{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }

  &-hungry{
    display: flex;
    justify-content: center;
    font-style: italic;
  }
  &-text{
    text-align: center;
  }
  &-icon{
  width:25px;
  height:25px;
  fill:currentColor;
  display: flex;
  
  }
  
   &-close{
  display: flex;
  justify-content: end;
   color:$color-icon;
   background: inherit;
   border:none;
   cursor: pointer;

 }
  &-window{
   display:grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    background:$color-bg-light;
color:$color-white;
padding-inline: 30px;
z-index: 1;
box-shadow: 0 8px 24px rgba(0,0,0,.3);
  width: 100%;
  }
  &-overlay{
    position:fixed;
    inset:0;
    z-index:900;
    background: rgba(0,0,0,0.35);
    
  }
  &-top{
   display: flex;
   flex-direction: column;
   padding:20px;
   overflow-y: auto;
  }
  &-bottom{
   padding:20px;  
}

  &-items{
   
   border-bottom: 1px solid $color-footer;
  
  }
  &-info{
   padding-block: 10px;
   line-height: $lh-normal;
  }
  &-details,&-ingredients{
   font-size: $fs-small;
  }
 
  &-pizza{
   font-weight:900;
  }
   &-title{
      color:$color-white;
      text-align: center;
   }
  &-checkout{
   color:$color-white;
   text-transform: uppercase;
   background: $color-btn;
   width:250px;
   padding-block: 15px;
   border-radius: 50px;
   border: $color-icon;
  }
  &-wrapper{
    display: grid;
    grid-template-columns: 100px auto;
    gap:50px;
    align-items: flex-start;
  }
  &-counter{
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  align-items: center;
  gap: 10px;
  padding-block: 20px;
  padding-inline: 20px;

  }
  &-radiogroup{
   display: flex;
   gap:20px;
  }
  &-summary{
   display: flex;
   justify-content: space-between;
   border-top: 1px solid $color-footer;
   padding-block: 10px;
   
  }
 &-order{
   display: flex;
   justify-content: center;
   padding-block: 30px;
 }

 &-change{
border:none;
background:inherit;
color:$color-white;
cursor: pointer;
 }
 &-card,&-coffee,&-apron{
   
   cursor:pointer;
 }
 &-img{

 }
 &-extras{
  display: flex;

  align-items: center;
  padding-block: 30px;
  
   
 }
 &-extrastitle{
   padding-block: 20px;

 }
 &-priceblock{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap:10px;
   
 }
 &-left,&-right{
  cursor: pointer;
 }
 &-remove{
  cursor: pointer;
 }

}
.cart__modal.is-open {
  transform: translateX(0);
}
.cart__modal-overlay {
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
}

.cart__modal-overlay.is-active {
  opacity: 1;
  pointer-events: auto;
}
