@import '../styles/variables';
//корзина 
.cart__modal{
    inset: 0 0 0 auto;
    height: 100vh;
    max-width:31.25rem;
  z-index:1000;
  font-size: $fs-body;
  position: fixed;
  right: 0;
  top:0;

   &-sad{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
 &-input{
  margin-top:1.375rem;
  margin-right: 0.938rem;
  appearance: none;   
  width: 1.125rem;
  height: 1.125rem;
  border: 2px solid $color-icon;  
  border-radius: 4px;      
  background: transparent;
  cursor: pointer;
  position: relative;

   &::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: $color-icon;  
    opacity: 0;
    border-radius: 2px;
    transition: 0.2s ease;
  }

  &:checked::after {
    opacity: 1;
  }
 }
 &-deliverygroup{
  display: flex;
  align-items: center;
  gap:0.938rem;
  margin-top: 1.563rem;
 }
 &-label{
  padding-top: 1.125rem;
  font-size: $fs-middle;

 }
  &-hungry{
    display: flex;
    justify-content: center;
    font-style: italic;
  }
  &-text{
    text-align: center;
  }
  &-icon{
  width:1.563rem;
  height:1.563rem;
  fill:currentColor;
  display: flex;
  
  }
  
   &-close{
  display: flex;
  justify-content: end;
   color:$color-icon;
   background: inherit;
   border:none;
   cursor: pointer;

 }
  &-window{
   display:grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    background:$color-bg-light;
color:$color-white;
padding-inline:clamp(0.938rem,4vw,1.875rem);
z-index: 1;
box-shadow: 0 8px 1.5rem rgba(0,0,0,.3);
  width: 100%;
  }
  &-overlay{
    position:fixed;
    inset:0;
    z-index:900;
    background: rgba(0,0,0,0.35);
    
  }
  &-top{
   display: flex;
   flex-direction: column;
   padding:1.25rem;
   overflow-y: auto;
  }
  &-bottom{
   padding:1.25rem;  
}

  &-items{
   border-bottom: 1px solid $color-footer;
  
  }
   &-title{
      color:$color-white;
      text-align: center;
   }
  &-checkout{
   color:$color-white;
   text-transform: uppercase;
   background: $color-btn;
   width:15.625rem;
   padding-block: 0.938rem;
   border-radius: 3.125rem;
   border: $color-icon;
  }
  &-summary{
   display: flex;
   justify-content: space-between;
   border-top: 1px solid $color-footer;
   padding-block:0.625rem;
   
  }
 &-order{
   display: flex;
   justify-content: center;
   padding-block:clamp(0.938rem,4vw,1.875rem);
 }


 &-card,&-coffee,&-apron{
   
   cursor:pointer;
 }
&-img{
  max-height:9.375rem;
}
 &-extras{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:clamp(1.5rem,2vw,3.125rem);
  align-items: center;
  padding-block: clamp(0.938rem,4vw,1.875rem);
  
 }
 &-extrastitle{
   padding-block: 1.25rem;

 }
 &-extra{
  background: inherit;
  color:$color-white;
 }
 &-priceblock{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap:0.625rem;
   
 }
 &-left,&-right{
  cursor: pointer;
  
 }
.cart__modal-deliverygroup:has(input:disabled) {
  opacity: 0.5;
}


 &-remove{
  cursor: pointer;
 }

}
.cart__item-right,.cart__item-left{
  color: $color-white;
  background: inherit;
}
.cart__modal.is-open {
  transform: translateX(0);
}
.cart__modal-overlay {
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
}

.cart__modal-overlay.is-active {
  opacity: 1;
  pointer-events: auto;
}
.cart__item{
  padding-block: clamp(0.938rem,4vw,1.875rem);
  padding-inline: 0.625rem;
    &-wrapper{
    display: grid;
    grid-template-columns:6.25rem auto;
    gap:clamp(1.5rem,2vw,3.125rem);
    align-items: flex-start;
  }
  &-counter{
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  align-items: center;
  gap:0.625rem;
  padding-block:1.25rem;
  padding-inline: 1.25rem;

  }
  &-radiogroup{
   display: flex;
   gap:1.25rem;
  }
  &-change{
    background: inherit;
    color: $color-white;
    cursor: pointer;
  }
  &-count{
    font-size: $fs-body;
  }
  &-left,&-right{
    cursor:pointer;
  }
  &-img{
    display:block;
    max-height: 5rem;
  }
  &-pic{
    display: flex;
    align-items: center;
  }
  &-title{
    font-weight:900;
    padding-block: 0.313rem;
  }
  &-message{
   text-align: center;
    background: inherit;
    color:$color-white;
    cursor: pointer;
  }
  &-remove{
    background: inherit;
    color:$color-white;
  }

}
.icon-trash{
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  
}
.cart__delivery{
  &-summary{
    padding-top:3px;
 display: flex;
 gap:clamp(0.938rem,4vw,1.875rem);
 opacity: 0.8;
  }
  &-change{
 background: inherit;
  color:$color-white;
  font-size: 0.875rem;
  cursor: pointer;
  }
}
.message{
  &__area{
    background: transparent;
    border:1px solid $color-icon;
    color:$color-white;
  }
  &__title{
    font-size: $fs-body;
  }
}
.cart__item textarea:focus {
  outline: none;
  border: 1px solid $color-icon;
}
@media(max-width:375px){
  .cart__modal{
    max-width:100%;
  }
  .cart__modal-checkout{
    width:100%;
  }
  .cart__item-price, .cart__item-count, .cart__item-change, .cart__item-remove{
    font-size:14px;
  }
}
