@import '../styles/variables';
.events__action{
    padding-block: $section-gap-md;
    position: relative;
     overflow: hidden;
  transition: max-height 0.6s ease;
    &-viewport{
        max-width: 1400px;
        margin: 0 auto;
        overflow: hidden;
        padding-right: 150px;
    }
    &-cards{
        display:flex;
        transition: transform 0.4s ease;
        gap:50px;
        align-items: center;  
        flex-wrap: nowrap;
       flex-direction: row;
       overflow-x: auto;
       scrollbar-width: none;     
       -ms-overflow-style: none;     
       scroll-behavior: smooth;
    }
    &-title{
        font-size: $fs-h1;
        color: $color-white;
        text-align: center;
    }
    &-untertitle{
        font-size: $fs-big;
        color:$color-untertitle;
        text-align: center;
    }
    &-card{
    flex:0 0 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 300px;
    background: $color-bg-light;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    min-height: 414px;
     &:hover{
     transform: translateY(-5px);
   }
    }
    &-cardtitle{
    color:$color-white;
    }
    &-description{
        font-size: $fs-body;
        color:$color-untertitle;
    }
    &-btn{
        margin-top: auto;
        background: $color-btn;
        color:$color-white;
        font-size: $fs-middle;
        padding: 10px;
        border-radius: 30px;
    }
    &-img{
        display: block;
        height: auto;
        width: 100%;
        border-radius: 30px;
    }
    &-next{
position: absolute;
  top: 50%;
  right: -1%;       
  background: none;
  
    }
    &-icon{
        color:$color-icon;
    }
}

.events{
    &__group{
padding-inline: 30px;
position: relative;
    }
    
    &__title{
        color: $color-white;
        font-size: $fs-h1;
        text-align: start;
        text-align: center;
    }
    &__cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
        gap:40px;
        position: relative;
    }
    &__card{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
    }
    &__img{
        border-radius: 30px;
    }
    &__btn{
        position: absolute;
        background: $color-btn;
        color:$color-white;
        border-radius: 30px;
        padding: 10px;
        font-size: $fs-middle;
        cursor: pointer;
    }
    &__action-cardtitle{
        font-size: $fs-middle;
    }
}