@import '../styles/variables';

.blog-hero {
  position: relative;
  height: calc(100vh - 80px);
  width: 100%;
  overflow: hidden;
}

.blog-hero__bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


