@import '../styles/variables';

.blog {
   background-image: url(../assets/heroEvents.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100svh;
    padding-bottom: 0;
    justify-content: center;
    &__content {
        flex: 1;                  
        display: flex;
        align-items: center;        
        justify-content: center;    
        text-align: center;
    }
    &__title {
        font-size:$fs-h1;
        color:$color-white;
        position: relative;
        padding-block: 0.375em; 
        padding-inline: 1.8125em; 
        display:inline-block;
        margin-inline:auto; 
        transform: translate(-50%,-50%);  
        top:50%;
        left:50%;   
}
&__untertitle{
  font-size: $fs-h3;
  color:$color-white;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
&__img{
  background-image: url(../assets/tasse.webp);
   background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  position:absolute;
 inset:0;
 left:-35%;

 
}
&__tasse-container{
  position: relative;
  width: 700px;
  min-height: 800px;
}
&__tasseo{
  padding-block: $section-gap-lg;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
&__drink{
   width: 100%; 
  height: auto;
  position: relative;
  left: 0; 
  top: 0;

}
&__wrapper{
 position:relative;
 height: auto;
}
&__smoke {
  position: absolute;
  transform: translateX(-50%);
  width: 160px;
  opacity:0.45; 
     filter: blur(4px);
      mix-blend-mode: screen;
}
}
.smoke-1 {
  animation: steamFloat 7s infinite ease-in-out;
  animation-duration: 5s;
  left:38%;
  bottom:53%;
}

.smoke-2 {
  animation: steamFloat 9s infinite ease-in-out;
  left: 48%;
  bottom:62%;
  animation-delay: 2.5s;
  animation-duration: 7s;
}

.smoke-3 {
  animation: steamFloat 11s infinite ease-in-out;
  left: 40%;
  animation-delay: 5s;
  bottom:58%;
  animation-duration: 9s;
}

.drink-with-steam {
  position: relative;
  width: 900px; 
  height: auto;
  left: -20%; 
  top: 10%;
}
.steam { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%;
   height: 100%;
    pointer-events: none; 
  }
@keyframes steamFloat {
  0% {
    transform: translateY(0) scale(0.95);
    opacity: 0;
    filter: blur(6px);
  }

  20% {
    opacity: 0.9;
    filter: blur(5px);
  }

  40% {
    opacity: 0.7;
    filter: blur(6px);
  }

  60% {
    opacity: 0.4;
    filter: blur(3px);
  }

  80% {
    opacity: 0.2;
    filter: blur(4px);
  }

  100% {
    transform: translateY(-90px) scale(1.15);
    opacity: 0;
    filter: blur(1px);
  }
}


.text{
   padding-block: $section-gap-lg;
  &__title{
    font-size: $fs-h2;
    color:$color-white;
    text-align: center;
  }
  &__untertitle{
    color:$color-white;
    font-size: $fs-h3;
  }
  &__img{
    position: relative;
  width: 400px;
  min-height: 800px;
  }
  &__bild{
  min-width: 1100px;
  position: absolute;
 left:-10%;
 opacity: 0.9;
  }
}
.light{
   padding-block: $section-gap-lg;
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__title{
    font-size: $fs-h2;
    color:$color-white;
    text-align: center;
  }
  &__untertitle{
    color:$color-white;
    font-size: $fs-big;
    text-align: start;
  }
  &__img{
    position: relative;
  width: 400px;
  min-height: 800px;
  }
   &__bild{
  min-width: 800px;
  position: absolute;
 left: -20%;
 top:-20%;
  }
&__group{
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 30px;
}
&__pic{
  min-height: 500px;
  opacity: 0.9;
}
}
.roast{
  padding-block: $section-gap-lg;
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__title{
    font-size: $fs-h2;
    color:$color-white;
    text-align: center;
  }
  &__untertitle{
    color:$color-white;
    font-size: $fs-h3;
    text-align: center;
  }
  &__pic{
    position: absolute;
  width: auto;
  min-width: 900px;
  left:-40%;
  top:-30%;
  }
     &__group-img{
 position:relative;
  }
  &__img{
    position: absolute;
    max-width: 128px;
    left:20%;
    top:70%;
  }
  &__img2{
    position: absolute;
    max-width: 100px;
    left:38%;
    top:78%;
    transform: rotate(25deg);
  }
  &__img3{
      position: absolute;
    max-width: 100px;
    left:15%;
    top:78%;
    opacity: 0.9;
  }
  &__img4{
    position: absolute;
    max-width: 120px;
    left:25%;
    top:87%;
    transform:rotate(45deg);
  }
    &__img5{
    position: absolute;
    max-width: 111px;
    left:45%;
    top:95%;
     transform:rotate(75deg);
  }
  &__img6{
      position: absolute;
    max-width: 98px;
    left:22%;
    top:78%;
    transform:rotate(55deg);
  }
   &__img7{
    position: absolute;
    max-width: 110px;
    left:10%;
    top:78%;
  }
}
.sound{
    padding-block: $section-gap-lg;
  display: grid;
  grid-template-columns: 1fr 1fr;
    &__title{
    font-size: $fs-h2;
    color:$color-white;
    text-align: center;
  }
  &__untertitle{
    color:$color-white;
    font-size: $fs-h3;
    text-align: center;
  }
  &__text{
    padding: 30px;
  }
}
.form-events{
      display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
   &__title{
     color:$color-white;
     font-size: $fs-h2;
   }
   &__untertitle,&__radiotitle{
    color:$color-white;
    font-size: $fs-middle;
   }
    &__input {
      min-width: 600px;
      background: $color-bg-light;
        border: none;
        color: $color-white;
        font-size:$fs-body;
        padding-block:1.063em 1.563em;
        text-align: center;
        margin-bottom:clamp(10px,2vw,15px);
        transition: 0.3s;
        box-sizing: border-box;
        
        &:focus {
            outline: none;
            border-bottom: 1px solid $color-white;
        }
    }
    &__select{
      color:$color-white;
    }
 &__radio{
  color:$color-white;
  padding-inline: 20px;
  
 }
 &__btn{
  display: flex;
  margin: 30px;
 }
 &__submit{
  background: $color-btn;
  padding:10px;
  border-radius: 30px;
  color:$color-white;
  font-size: $fs-middle;
 }
 &__checked{
      margin-top: 1.375rem;
 
  appearance: none;   
  width: 1rem;
  height: 1rem;
  border: 2px solid $color-icon;  
  border-radius: 4px;      
  background: transparent;
  cursor: pointer;
  position: relative;

   &::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: $color-icon;  
    opacity: 0;
    border-radius: 2px;
    transition: 0.2s ease;
  }

  &:checked::after {
    opacity: 1;
  }
 
 }
}
select {
  min-width: 600px;
  padding: 10px;
  margin-block: 20px;
  background: $color-bg-light;
  color:$color-white;
  text-align: center;
}
option{
  background:#220044;
}


