.header{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    &__check{
        display: flex;
        justify-content: space-between;
    }
    &__list{
        text-decoration: none;
        color:purple;
        font-size: 20px;
    }
    &__link{
        list-style: none;
    }
    &__cart{
        background: inherit;
        width: 40px;
        height: 80px;
    }
    &__icon-cart{
        width:40px;
        height: 80px;
    }

}