@import '../styles/variables';
.hero {
padding-bottom: $section-gap-lg;

    
&__btn-left,&__btn-right{
   background: inherit;
   &-text{
    color:$color-white;
    font-size: $fs-body;
    
   }
}
&__cristal{
    width:10.625rem;
    height: auto;
    cursor: pointer;
}
&__container{
    padding:clamp(1.5rem,2vw,3.125rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
   gap:clamp(1.5rem,2vw,3.125rem);
}
&__colls-right,&__colls-left{
display: flex;
flex-direction: column;
align-items: center;

}
&__title{
    color:$color-white;
    font-size: $fs-h1;
}
&__text{
    color:$color-untertitle;
    font-size: $fs-big;
}
&__img{
    min-height: 37.5rem;
    width: auto;
      transform-style: preserve-3d;
        transform-style: preserve-3d;
  backface-visibility: hidden;
  display: block;
}
&__cup-wrap{
      perspective: 1000px;
}
}
@media (max-width:480px){
    .hero{
        &__container{
            grid-template-columns: 1fr;
            padding:clamp(1rem,3vw,2rem);
        }
        &__img{
            min-height: auto;
            width: 100%;
        }
    }
}
@media (min-width:481px) and (max-width:768px){
    .hero{
        &__container{
            grid-template-columns: 1fr;
            padding:clamp(1rem,3vw,2rem);
        }
        &__img{
            min-height: auto;
            width: 100%;
        }
      
    }
}
@media (min-width:369px) and (max-width:1024px){
    .hero{
        padding: 50px 0 70px 0;
      &__cristal{
        width:8.125rem;
      }
}
}